/anamoly detection
/character recognition
/k-mean and pca
/Kaggle Housing Competition
/catvsdog
/logistic regression with python
/Machine Learning Project Pipeleing.docx
/logistic regression
/README.md
/.gitignore
